/* * {
    border: solid 1px red;
} */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.hero-section {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-self: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-content {
    padding: 3rem 5rem;
    display: flex;
}

.left-hero {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary {
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: 100px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.right-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 5px 5px;
}

img {
    max-width: 90%;
    max-height: 90%;
}

/* section two */
.information-section {
    padding: 2rem 5rem 5rem 5rem;
}

/* information header */
.information-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    padding: 1rem 0;
}

/* information */
.information {
    display: flex;
    flex: 1;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem 0;
    gap: 10px;
}

.col {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.box {
    width: 120px;
    height: 120px;
    border: 3px solid #3882F6;
    border-radius: 5px;
}

.caption {
    text-align: center;
    font-size: 18px;
    width: 120px;
    color: #808080;
}

/* section three */
.quote-section {
    background-color: #E5E7EB;
    padding: 5rem 5rem;
}

/* quote */
.quote {
    margin: 0;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

/* quoter */
.quoter {
    text-align: right;
    font-weight: bold;
}
