/* * {
    border: solid 1px red;
} */

body {
    font-family: Roboto, sans-serif;
    margin: 0;
}

.section-one {
    background-color: #1F2937;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    align-self: center;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 2rem;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-content {
    padding: 3rem 5rem;
    display: flex;
}

.left-hero {
    min-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.hero-secondary {
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    max-width: 100px;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
}

.right-hero {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 90%;
    max-height: 90%
}