body {
    font-family: Roboto, sans-serif;
}

.section-one {
    background-color: #1F2937;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.hero-main {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
}

.hero-secondary {
    color: #F9FAF8;
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
}